html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    color: #002F5F;
    font-family: Roboto;
}

div.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

div.containerHeader {
    border-bottom: 3px solid #ff7900;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
}

div.logo {
    width: 100px;
    height: 100%;
    position: relative;
}

div.logo img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.pages {
    display: flex;
    margin-left: auto; 
}

div.pages > div {
    display: flex;
    align-items: center;
    margin: 0px 5px;
}

div.innerBody {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

div.title {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

div.title p {
    align-items: center;
    margin: 0px 5px;
    align-items: center;
    font-size: 40px;
}

div.description {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column; 
}

div.description p {
    font-size: 20px;
    margin-top:50px;
}

div.buttonsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

div.buttonsContainer div.hoverButton {
    margin: 10px;

}

div.hoverButton a button.btn {
    height: 80px;
    width: 200px;
}

div.footer {
    justify-content: center;
    max-width: 100%;
    display: flex;
}

div.footer div.card.text-center {
    max-width: 1000px;
    width: 100%;
}